<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>siiws</display-name>
    <listener>
        <display-name>SessionListener</display-name>
        <listener-class>com.besixplus.sii.listeners.SessionListener</listener-class>
    </listener>
    <servlet>
        <display-name>Cgg_res_adjunto_personalSRV</display-name>
        <servlet-name>Cgg_res_adjunto_personalSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_adjunto_personal</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_dhu_adjuntoSRV</display-name>
        <servlet-name>Cgg_dhu_adjuntoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_dhu_adjunto</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_gem_certificadoSRV</display-name>
        <servlet-name>Cgg_gem_certificadoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_gem_certificado</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_adjunto_temporalSRV</display-name>
        <servlet-name>Cgg_res_adjunto_temporalSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_adjunto_temporal</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_adjuntoSRV</display-name>
        <servlet-name>Cgg_res_adjuntoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_adjunto</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_resolucionSRV</display-name>
        <servlet-name>Cgg_res_resolucionSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_resolucion</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_notificacionSRV</display-name>
        <servlet-name>Cgg_res_notificacionSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_notificacion</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_tipo_contactoSRV</display-name>
        <servlet-name>Cgg_res_tipo_contactoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_tipo_contacto</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_sesion_comiteSRV</display-name>
        <servlet-name>Cgg_res_sesion_comiteSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_sesion_comite</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_tct_adjunto_csvSRV</display-name>
        <servlet-name>Cgg_tct_adjunto_csvSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_tct_adjunto_csv</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_tct_adjunto_csv_offlineSRV</display-name>
        <servlet-name>Cgg_tct_adjunto_csv_offlineSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_tct_adjunto_csv_offline</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_jur_adjunto_acuerdoSRV</display-name>
        <servlet-name>Cgg_jur_adjunto_acuerdoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_jur_adjunto_acuerdo</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_jur_adjunto_procesoSRV</display-name>
        <servlet-name>Cgg_jur_adjunto_procesoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_jur_adjunto_proceso</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_tct_ingreso_salida_csvSRV</display-name>
        <servlet-name>Cgg_tct_ingreso_salida_csvSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_tct_ingreso_salida_csv</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_notificacion_csvSRV</display-name>
        <servlet-name>Cgg_res_notificacion_csvSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_notificacion_csv</servlet-class>
    </servlet>
    <servlet>
        <display-name>TramiteSRV</display-name>
        <servlet-name>TramiteSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Tramite</servlet-class>
    </servlet>
    <servlet>
        <display-name>SessionManager</display-name>
        <servlet-name>SessionManager</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.SessionManager</servlet-class>
    </servlet>
    <servlet>
        <display-name>DocViewer</display-name>
        <servlet-name>DocViewer</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.DocViewer</servlet-class>
    </servlet>
    <servlet>
        <display-name>DatosConfiguracionTctSRV</display-name>
        <servlet-name>DatosConfiguracionTctSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.DatosConfiguracionTct</servlet-class>
    </servlet>
    <servlet>
        <display-name>DatosConfigMovilidadSRV</display-name>
        <servlet-name>DatosConfigMovilidadSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.DatosConfigMovilidad</servlet-class>
    </servlet>
    <servlet>
        <display-name>ExportableResidenteSRV</display-name>
        <servlet-name>ExportableResidenteSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.ExportableResidente</servlet-class>
    </servlet>
    <servlet>
        <display-name>DatosConfigNotificacionSRV</display-name>
        <servlet-name>DatosConfigNotificacionSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.DatosConfigNotificacion</servlet-class>
    </servlet>
    <servlet>
        <display-name>ListarObjetos</display-name>
        <servlet-name>ListarObjetos</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.ListarObjetos</servlet-class>
    </servlet>
    <servlet>
        <display-name>InformeAdjuntoSeguimientoSRV</display-name>
        <servlet-name>InformeAdjuntoSeguimientoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.InformeAdjuntoSeguimiento</servlet-class>
    </servlet>
    <servlet>
        <display-name>SubirAdjuntoSeguimientoSRV</display-name>
        <servlet-name>SubirAdjuntoSeguimientoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.SubirAdjuntoSeguimiento</servlet-class>
    </servlet>
    <servlet>
        <display-name>AlfrescoUploaderSVR</display-name>
        <servlet-name>AlfrescoUploaderSVR</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.AlfrescoUploader</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_comunicadoSRV</display-name>
        <servlet-name>Cgg_res_comunicadoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_comunicado</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_res_personaSRV</display-name>
        <servlet-name>Cgg_res_personaSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_persona</servlet-class>
    </servlet>
    <servlet>
        <display-name>TranseunteSRV</display-name>
        <servlet-name>TranseunteSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Transeunte</servlet-class>
    </servlet>
    <servlet>
        <description>Permite almacenar informacion de tramites de transeunte</description>
        <display-name>TramiteTranseunteSRV</display-name>
        <servlet-name>TramiteTranseunteSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.TramiteTranseunte</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_jur_seguimiento_criterioSRV</display-name>
        <servlet-name>Cgg_jur_seguimiento_criterioSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_jur_seguimiento_criterio</servlet-class>
    </servlet>
    <servlet>
        <display-name>Cgg_veh_vehiculoSRV</display-name>
        <servlet-name>Cgg_veh_vehiculoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_veh_vehiculo</servlet-class>
    </servlet>
    <servlet>
        <display-name>Biometrico</display-name>
        <servlet-name>Biometrico</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Biometrico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cgg_gem_perfil_adjuntoSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_gem_perfil_adjunto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cgg_res_persona_fotoCurriculumSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_res_persona_fotoCurriculum</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cgg_gem_preregistro_empresaSRV</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_gem_preregistro_empresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cgg_gem_preregistroEmpresa_actualizarAdjunto</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.Cgg_gem_preregistroEmpresa_actualizarAdjunto</servlet-class>
    </servlet>
    <servlet>
        <display-name>SendMailDaemon</display-name>
        <servlet-name>SendMailDaemon</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.SendMailDaemon</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SendMailDaemon</servlet-name>
        <url-pattern>/SendMailDaemon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_dhu_adjuntoSRV</servlet-name>
        <url-pattern>/Cgg_dhu_adjuntoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_adjunto_personalSRV</servlet-name>
        <url-pattern>/Cgg_res_adjunto_personalSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_gem_certificadoSRV</servlet-name>
        <url-pattern>/Cgg_gem_certificadoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_adjuntoSRV</servlet-name>
        <url-pattern>/Cgg_res_adjuntoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_adjunto_temporalSRV</servlet-name>
        <url-pattern>/Cgg_res_adjunto_temporalSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_resolucionSRV</servlet-name>
        <url-pattern>/Cgg_res_resolucionSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_notificacionSRV</servlet-name>
        <url-pattern>/Cgg_res_notificacionSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_tipo_contactoSRV</servlet-name>
        <url-pattern>/Cgg_res_tipo_contactoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_sesion_comiteSRV</servlet-name>
        <url-pattern>/Cgg_res_sesion_comiteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_tct_adjunto_csvSRV</servlet-name>
        <url-pattern>/Cgg_tct_adjunto_csvSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_tct_adjunto_csv_offlineSRV</servlet-name>
        <url-pattern>/Cgg_tct_adjunto_csv_offlineSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TramiteSRV</servlet-name>
        <url-pattern>/TramiteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_jur_adjunto_acuerdoSRV</servlet-name>
        <url-pattern>/Cgg_jur_adjunto_acuerdoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_jur_adjunto_procesoSRV</servlet-name>
        <url-pattern>/Cgg_jur_adjunto_procesoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_tct_ingreso_salida_csvSRV</servlet-name>
        <url-pattern>/Cgg_tct_ingreso_salida_csvSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_notificacion_csvSRV</servlet-name>
        <url-pattern>/Cgg_res_notificacion_csvSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionManager</servlet-name>
        <url-pattern>/SessionManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocViewer</servlet-name>
        <url-pattern>/DocViewer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarObjetos</servlet-name>
        <url-pattern>/ListarObjetos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformeAdjuntoSeguimientoSRV</servlet-name>
        <url-pattern>/InformeAdjuntoSeguimientoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubirAdjuntoSeguimientoSRV</servlet-name>
        <url-pattern>/SubirAdjuntoSeguimientoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlfrescoUploaderSVR</servlet-name>
        <url-pattern>/AlfrescoUploaderSVR</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_comunicadoSRV</servlet-name>
        <url-pattern>/Cgg_res_comunicadoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_jur_seguimiento_criterioSRV</servlet-name>
        <url-pattern>/Cgg_jur_seguimiento_criterioSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_personaSRV</servlet-name>
        <url-pattern>/Cgg_res_personaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TranseunteSRV</servlet-name>
        <url-pattern>/TranseunteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TramiteTranseunteSRV</servlet-name>
        <url-pattern>/TramiteTranseunteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_veh_vehiculoSRV</servlet-name>
        <url-pattern>/Cgg_veh_vehiculoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Biometrico</servlet-name>
        <url-pattern>/Biometrico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_gem_perfil_adjuntoSRV</servlet-name>
        <url-pattern>/Cgg_gem_perfil_adjuntoSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_res_persona_fotoCurriculumSRV</servlet-name>
        <url-pattern>/Cgg_res_persona_fotoCurriculumSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportableResidenteSRV</servlet-name>
        <url-pattern>/ExportableResidenteSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_gem_preregistro_empresaSRV</servlet-name>
        <url-pattern>/PublicWS/Cgg_gem_preregistro_empresaSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosConfiguracionTctSRV</servlet-name>
        <url-pattern>/PublicWS/DatosConfiguracionTctSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosConfigMovilidadSRV</servlet-name>
        <url-pattern>/PublicWS/DatosConfigMovilidadSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosConfigNotificacionSRV</servlet-name>
        <url-pattern>/PublicWS/DatosConfigNotificacionSRV</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cgg_gem_preregistroEmpresa_actualizarAdjunto</servlet-name>
        <url-pattern>/Cgg_gem_preregistroEmpresa_actualizarAdjuntoSRV</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <security-constraint>
        <display-name>Cgg</display-name>
        <web-resource-collection>
            <web-resource-name>SII</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrador</role-name>
            <role-name>usuario</role-name>
            <role-name>atencion_cliente</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>PublicWS</display-name>
        <web-resource-collection>
            <web-resource-name>WEB</web-resource-name>
            <url-pattern>/PublicWS/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
    <security-role>
        <role-name>administrador</role-name>
    </security-role>
    <security-role>
        <role-name>usuario</role-name>
    </security-role>
    <security-role>
        <role-name>atencion_cliente</role-name>
    </security-role>
</web-app>
