<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>SIICGG</display-name>
    <listener>
        <display-name>SessionListener</display-name>
        <listener-class>com.besixplus.sii.listeners.SessionListener</listener-class>
    </listener>
    <servlet>
        <display-name>SessionManager</display-name>
        <servlet-name>SessionManager</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.SessionManager</servlet-class>
    </servlet>
    <servlet>
        <display-name>ListarObjetos</display-name>
        <servlet-name>ListarObjetos</servlet-name>
        <servlet-class>com.besixplus.sii.servlets.OldListarObjetos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SessionManager</servlet-name>
        <url-pattern>/SessionManager</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListarObjetos</servlet-name>
        <url-pattern>/ListarObjetos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>js</extension>
        <mime-type>application/x-javascript</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>gif</extension>
        <mime-type>image/gif</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>swf</extension>
        <mime-type>application/x-shockwave-flash</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>403</error-code>
        <location>/login/error.html</location>
    </error-page>
    <security-constraint>
        <display-name>RECURSOS</display-name>
        <web-resource-collection>
            <web-resource-name>imagenes</web-resource-name>
            <url-pattern>/resources/images/*</url-pattern>
            <url-pattern>/resources/css/*</url-pattern>
            <url-pattern>/resources/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>LOGIN</display-name>
        <web-resource-collection>
            <web-resource-name>login_imagenes</web-resource-name>
            <url-pattern>/login/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <display-name>CGG_UI</display-name>
        <web-resource-collection>
            <web-resource-name>SII</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>POST</http-method>
            <http-method>GET</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>administrador</role-name>
            <role-name>usuario</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Session</display-name>
        <web-resource-collection>
            <web-resource-name>SessionManager</web-resource-name>
            <url-pattern>/SessionManager</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>SD_SII_WS</realm-name>
        <form-login-config>
            <form-login-page>/login/login.html</form-login-page>
            <form-error-page>/login/error.html</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <role-name>administrador</role-name>
    </security-role>
    <security-role>
        <role-name>usuario</role-name>
    </security-role>
</web-app>
