table.tabla {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 12px;
	width: 100%;
	background-color: white;
}

table.tabla thead {
	display: block;
	overflow: hidden;
	border-bottom: 1px solid #E2BD7E;
	padding-top: 0px;
	width: 100%;
}

.cssColumnTitle {
	display: block;
	vertical-align: middle;
}

.cssColumnTitle th {
	padding: 3px 2px;
	height: 22px;
	font-size: 12px;
}

.csstbody {
	width: 100%;
	overflow: auto;
	display: block;
}

table.tabla tbody td {
	padding: 2px;
	cursor: default;
	height: auto;
	/*border:1;*/ /*color:#347696;*/
	border-bottom: 1px dashed #E2BD7E;
	/*border:1 dashed #E2BD7E;*/
}

table.tabla tbody tr:hover { /*background-color:#FF8000;*/
	color: #FF8000;
}

.templateTable {
	width: 100%;
	font-size: 12px;
	text-align: left;
}

.templateTable TH {
	font-weight: bolder;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.templateTable Td {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
}

.rowSelectTable {
	background-color: #F4E7BD
}

.rowNoSelectTable {
	background-image: url :( icon/aceptar.png )
}

table.paginBar {
	border: 1px;
	font-size: 9px;
	border-top: 1px dotted #E2BD7E;
}

table.paginBar button {
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

table.searchBar {
	display: block;
	overflow: hidden;
	border-bottom: 1px dotted #E2BD7E;
	width: 100%;
	font-size: 11px;
}

table.searchBar button {
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.iconFirst {
	background-image: url(icon/first.png) !important
}

.iconPrevious {
	background-image: url(icon/previous.png) !important
}

.iconNext {
	background-image: url(icon/next.png) !important
}

.iconLast {
	background-image: url(icon/last.png) !important
}

.iconReload {
	background-image: url(icon/reload.png) !important
}

.iconBuscar {
	background-image: url(icon/buscar.png) !important
}

.iconLoading {
	background-image: url(icon/loading.gif) !important
}