*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
html, body {
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
}
body {
    margin: 0;
}
body {
    background-color: #fff;
    color: #333;
}
* {
    box-sizing: border-box;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
}
body > table {
	width: 100%;
}
body > table > tbody > tr > td {
	padding: 0 !important;
}
body > table > tbody > tr > td > table {
    width: 100%;
    border: none !important;
}
body > table > tbody > tr > td > table > tbody > tr {
    height: auto;
    min-height: 100px;
}
/* header */
body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td {
    border-bottom: 3px solid #ffaa22;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table {
    background: url("./image/banner-top.png") no-repeat 0 0 / 100% auto #485d64;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody,
body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr {
	display: block;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td {
	display: inline-block;
}
	/*fila 1 - enlace acceso a siicgg*/
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) {
		position: absolute;
		width: auto;
		right: 0;
	}
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td {
		display: none;
	}
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td:last-child {
    	display: inline-block;
	    height: 110px;
    	width: 110px;
	}
    body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(1) > td:last-child > img {
        display: none;
    }
    div.clsAcceso > a {
        background: url("./image/acceso-siicgg.png") no-repeat 0 0;
        display: inline-block;
        font-size: 0 !important;
        height: 110px;
        width: 110px;
    }
    div.clsAcceso > a:hover {
        background: url("./image/acceso-siicgg.png") no-repeat -110px 0;
    }
	/*fila 2 - elementos: logo, título, imágenes*/
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(1) > img, 
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(2) > img, 
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(3) > img, 
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(4) > img, 
	body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:last-child {
		display: none;
	}
    /*agregar imagenes como fondo de celda*/
    /*logo*/
    body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(1) {
        background: url("./image/logo-cgreg.png") no-repeat center center;
        height: 110px;
        width: 215px;
    }
    /*titulo*/
    body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(2) {
        background: url("./image/title.png") no-repeat left 50%;
        height: 110px;
        width: 550px;
    }
    /*icono-seguridad*/
    body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(3) {
        background: url("./image/seguridad.png") no-repeat top left;
        float: right;
        height: 110px;
        margin-right: 110px;
        width: 110px;
    }
    /*icono-transparencia*/
    body > table > tbody > tr > td > table > tbody > tr:nth-child(1) > td > table > tbody > tr:nth-child(2) > td:nth-child(4) {
        background: url("./image/transparencia.png") no-repeat top left;
        float: right;
        height: 110px;
        width: 110px;
    }
/* content */
body > table > tbody > tr > td > table > tbody > tr:nth-child(2) {
    display: block;
    min-height: 540px;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td {
    display: block;
    width: 100%;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(2) > td > table {
    width: 100%;
}
/* footer */
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td {
    padding: 0 !important;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table {
    background: #0c2a31;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(1),
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(3),
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(5) {
    display: none;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(2),
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(4) {
    display: block;
    text-align: center;
    width: 100%;
    height: 15px !important;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(4) {
    padding-bottom: 30px !important;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(2) .divAcercaDe,
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(4) .divAcercaDe {
    display: inline-block;
    color: #fff !important;
    text-transform: uppercase;
    font-style: initial;
    border-right: 1px solid #fff;
    padding-left: 4px;
    padding-right: 10px;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(2) .divAcercaDe:first-child,
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(4) .divAcercaDe:first-child {
    padding-left: 0;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(2) .divAcercaDe:last-child,
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(4) .divAcercaDe:last-child {
    border-right: none;
    padding-right: 0;
}
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(2) .divAcercaDe a,
body > table > tbody > tr > td > table > tbody > tr:nth-child(3) > td > table > tbody > tr > td:nth-child(4) .divAcercaDe a {
    color: #fff;
}
/**********/
div#lnkAccesoLogin {
    background-image: url("image/enlaceUser.png");
    background-repeat: no-repeat;
    color: #ffffff;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bolder;
    height: 55px;
    padding: 7px 20px 0;
}
div#lnkAccesoLogin:hover {
    color: #336633;
}
#divFecha {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e3f0f1;
    background-image: url("icon/date.gif");
    background-position: 3px 1px;
    background-repeat: no-repeat;
    border-color: -moz-use-text-color #bedcde #bedcde -moz-use-text-color;
    border-image: none;
    border-radius: 0 0 5px;
    border-style: none solid solid none;
    border-width: 0 1px 1px 0;
    color: #037dab;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bolder;
    height: 18px;
    margin-bottom: 20px;
    text-indent: 26px;
}
.login {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #f9f9f9;
    border-color: #e6e6e6 #e6e6e6 #e6e6e6 -moz-use-text-color;
    border-image: none;
    border-radius: 0 5px 5px 0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #03699a;
    font-family: "MS Sans Serif",Geneva,sans-serif;
    font-size: 10px;
    padding: 3px;
}
.tituloAcceso {
    color: #03699a;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    top: 6px;
}
.descripcionAcceso {
    color: #545454;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-style: italic;
}
.divAcercaDe {
    color: #545454;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-style: italic;
    text-align: right;
}
#divFrase {
    color: #006600;
    font-family: "MS Sans Serif",Geneva,sans-serif;
    font-size: 11px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;
}
div.linkNormal {
    color: blue;
    cursor: pointer;
    float: left;
    font-size: 10px;
}
div.linkNormal:hover {
    text-decoration: underline;
}
div.pnlVarios {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #b7dcee;
    border-color: #76bcde #76bcde #76bcde -moz-use-text-color;
    border-image: none;
    border-radius: 0 5px 5px 0;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    height: auto;
}
div.pnlVarios li {
    font-size: 10px;
}
#divUsuario {
    color: #545454;
    font-family: "MS Sans Serif",Geneva,sans-serif;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}
#divConectar {
}
.panelBanner {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ade3f5;
    border-color: -moz-use-text-color #55c4eb #55c4eb;
    border-image: none;
    border-style: none dashed dashed;
    border-width: 0 1px 1px;
    height: 20px;
}
.bnr-logo {
    background-image: url("image/cgg.png");
    background-position: right center;
    background-repeat: no-repeat;
    height: 120px;
    width: 125px;
}
.cargando {
    background-color: white;
    background-image: url("icon/loading.gif");
    background-position: 3px 4px;
    background-repeat: no-repeat;
    border: 1px solid #e6e6e6;
    color: #545454;
    font-size: 12px;
    height: 30px;
    margin: 150px 355px;
    padding-top: 10px;
    position: absolute;
    text-indent: 40px;
    width: 110px;
}
.panelBody {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ade3f5;
    border-color: -moz-use-text-color #55c4eb #55c4eb;
    border-image: none;
    border-style: none dashed dashed;
    border-width: 0 1px 1px;
}
table.accesoDirecto div {
    background-repeat: no-repeat;
    display: block;
    float: left;
}
table.accesoDirecto td {
    border-top: 1px dashed #c8c8c8;
    cursor: pointer;
    height: 40px;
}
table.accesoDirecto td:hover {
    background-color: #e6e6e6;
}
table.accesoDirecto ul li {
    color: #545454;
    cursor: pointer;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-bottom: 1px;
    margin-left: 0;
}
table.accesoDirecto ul li:hover {
    color: #006666;
}
table.accesoDirecto td:active {
    background-color: #dcdcdc;
}
.clsItems {
    background-color: #ffffff;
    cursor: default;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    height: auto;
    padding-left: 25px;
    width: 100%;
}
.select {
    border-right: 10px solid #9fc6d9;
}
.noSelect {
    border: 1px solid transparent;
}
#divInicio {
    width: 100%;
}
#divGestEmpleo {
    width: 100%;
}
#divComunRadial {
    width: 100%;
}
#divResoluciones {
    width: 100%;
}
#divUsuarios {
    width: 100%;
}
#divTramitesResidencia {
    width: 100%;
}
#divPreRegistroTCT {
    width: 100%;
}
#detalleModulo {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    color: #03699a;
    font-family: "MS Sans Serif",Geneva,sans-serif;
    font-size: 10px;
    margin: 0 0 10px;
    padding: 3px;
}
.iconInicio {
    background-image: url("image/iconInicio.gif");
}
.iconUser {
    background-image: url("image/user.png");
}
.iconGE {
    background-image: url("image/iconGE.gif");
}
.iconRS {
    background-image: url("image/com.gif");
}
.iconTR {
    background-image: url("image/resol.gif");
}
.iconVehiculo {
    background-image: url("image/vehiculo.gif");
}
.iconDH {
    background-image: url("image/desa.gif");
}
.iconText {
    background-image: url("icon/text.png");
}
.iconKey {
    background-image: url("icon/key.png");
}
.icon {
    height: 48px;
    width: 48px;
}
.title {
    height: 40px;
    width: 120px;
}
.load {
    background-image: url("icon/cargando.gif");
    background-position: center center;
    height: 40px;
    width: 18px;
}
ul {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.tituloAcceso {
    color: #03699a;
    font-family: "MS Sans Serif",Geneva,sans-serif;
    font-size: 13px;
    font-weight: bold;
}
.panelCopy {
    background-color: #ade3f5;
    border-top: 2px solid #55c4eb;
    height: 20px;
}
.panelCopy span {
    color: #404040;
    font-size: 12px;
}
input {
    background-position: 1px 1px;
    background-repeat: no-repeat;
    border: 1px solid #d8d8d8;
    color: #545454;
    font-size: 11px;
    height: 22px;
    margin-bottom: 5px;
}
input *:hover {
    border-color: #a9d0f5;
}
input *:focus {
    border-color: #58acfa;
}
.txtIcon {
    background-repeat: no-repeat;
    padding: 3px 3px 3px 20px;
}
.submit input {
    border: 2px outset #d7b9c9;
}
button {
    background-color: #fafaf2;
    border: 1px solid #e6e8d9;
    border-radius: 3px;
    color: #565656;
    cursor: pointer;
    font-family: "Lucida Grande",Tahoma,Arial,Verdana,sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 7px 3px 4px;
    text-decoration: none;
}
button:hover {
    background-color: #e6efc2;
    border: 1px solid #c6d880;
    color: #529214;
}
button:active {
    background-color: #85b250;
    border: 1px solid #529214;
    color: #fff;
}
.helpIcon {
    background-image: url("icon/help.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.testIcon {
    background-image: url("icon/applications-system.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.noValidIcon {
    background-image: url("icon/eliminar.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.cargandoIcon {
    background-image: url("icon/loading.gif");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
.okIcon {
    background-image: url("icon/apply.png");
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}
ul.linkLI li {
    cursor: pointer;
    font-size: 11px;
    margin: auto;
    text-indent: -15px;
}
ul.linkLI li:hover {
    font-weight: bolder;
}
.grupoGestionEmpleo {
    color: #545454;
    display: none;
    font-family: "MS Sans Serif",Geneva,sans-serif;
    font-size: 11px;
}
.linkGestionEmpleo {
    color: #545454;
    font-size: 12px;
}
.linkGestionEmpleo li {
    padding: 4px;
}
.linkGestionEmpleo li:hover {
    background-color: #fffae6;
}
.subMenu {
    display: none;
    padding: 0;
    width: 100%;
}
ul.linkSubmenu {
    padding-left: 10px;
}
ul.linkSubmenu li {
    background-color: #f9f9f9;
    border: 1px solid #e6e6e6;
    color: #03699a;
    cursor: pointer;
    font-size: 11px;
    font-weight: normal;
    list-style: outside none none;
    padding: 6px 0 8px 10px;
    width: 165px;
}
ul.linkSubmenu li:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #99ccff;
    border-color: #fff -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px medium medium;
    position: relative;
    text-decoration: underline;
}