body {
	padding: 0px;
	margin: 0px;
	background-color: white;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 11px;
	background-image: url(image/fondoBanner.png);
	background-repeat: repeat-x;
}

#divUsuario {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 10px;
	color: #545454;
	text-transform: uppercase;
	text-align: center;
}

#divConectar {
	
}

#divFecha {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 11px;
	color: #545454;
	background-color: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	background-image: url(icon/date.gif);
	background-repeat: no-repeat;
	background-position: 6px 0px;
	height: 18px;
	text-indent: 26px
}

#divFrase {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 11px;
	color: #545454;
	text-align: center;
}

.panelBanner {
	background-color: #ADE3F5;
	height: 20px;
	border: 1px dashed #55C4EB;
	border-Top: 0px;
}

.bnr-logo {
	background-image: url(image/cgg.png);
	background-repeat: no-repeat;
	background-position: right;
	width: 125px;
	height: 120px;
}

.cargando {
	border: 1px solid #E6E6E6;
	margin: 150px 355px;
	background-image: url(icon/loading.gif);
	text-indent: 40px;
	background-repeat: no-repeat;
	height: 30px;
	width: 110px;
	font-size: 12px;
	color: #545454;
	background-position: 3px 4px;
	padding-top: 10px;
	position: absolute;
	/*visibility:hidden;*/
	background-color: white;
}

.panelBody {
	background-color: #ADE3F5;
	border: 1px dashed #55C4EB;
	border-Top: 0px;
}

/*Accesos directos de la parte izquierda  */
table.accesoDirecto {
	border: 1px solid #CCCCCC;
}

table.accesoDirecto div {
	background-repeat: no-repeat;
	float: left;
	display: block;
}

table.accesoDirecto td {
	height: 40px;
	cursor: pointer;
	border-top: 1 solid #CCCCCC;
	background-color: #F5F5F5;
}

table.accesoDirecto td:hover {
	background-color: #E6E6E6;
}

table.accesoDirecto ul li {
	cursor: pointer;
	margin-bottom: 2px;
	text-indent: 3px;
	margin-left: 0px;
}

table.accesoDirecto ul li:hover {
	font-weight: bold;
}

table.accesoDirecto td:active {
	background-color: #DCDCDC;
}

.clsItems {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	border-top: 1px dotted #CCCCCC;
	cursor: default;
}

.select {
	border-right: 10px solid #9FC6D9
}

.noSelect {
	border: 1px solid transparent;
}

#divInicio {
	width: 100%
}

#divGestEmpleo {
	width: 100%;
}

#divComunRadial {
	width: 100%
}

#divResoluciones {
	width: 100%
}

#divUsuarios {
	width: 100%
}

#divTramitesResidencia {
	width: 100%
}

#divPreRegistroTCT {
	width: 100%
}

/*Area de login*/
.login {
	padding: 3px;
	margin: 5px 0px;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 10px;
	width: : 100%, height : auto;
	color: #03699A;
	background-color: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

#detalleModulo {
	padding: 3px;
	margin: 0px 0px 10px 0px;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 10px;
	color: #03699A;
	background-color: #F9F9F9;
	border: 1px solid #E6E6E6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

.login button {
	font-size: 10px;
}

.login span {
	color: blue;
	float: left;
	font-size: 9px;
	cursor: pointer;
	position: relative;
	top: 4px;
	left: 0px;
}

.login span:hover {
	text-decoration: underline;
}

.login span:active {
	color: #545454;
	text-decoration: underline;
}

/*iconos de acceso directo izquierdo*/
.iconInicio {
	background-image: URL('image/home.png');
}

.iconUser {
	background-image: URL('image/user.png');
}

.iconGE {
	background-image: URL('image/iconGE.png');
}

.iconRS {
	background-image: URL('image/com.gif');
}

.iconTR {
	background-image: URL('image/resol.png');
}

.iconVehiculo {
	background-image: URL('image/vehiculo.png');
}

.iconDH {
	background-image: URL('image/desa.png');
}

.iconText {
	background-image: URL('icon/text.png');
}

.iconKey {
	background-image: URL('icon/key.png');
}

.icon {
	width: 40px;
	height: 40px
}

.title {
	width: 120px;
	height: 40px;
}

.load {
	width: 18px;
	height: 40px;
	background-image: url(icon/cargando.gif);
	background-position: center
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*border:1px solid #33FFCC;*/
	margin-top: 15px;
	margin-bottom: 15px;
}

.tituloAcceso {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 13px;
	color: #03699A;
	font-weight: bold;
}

.panelCopy {
	background-color: #ADE3F5;
	height: 20px;
	border-top: 2px solid #55C4EB;
}

.panelCopy span {
	font-size: 12px;
	color: #404040;
}

/*
#button{
	padding:10px;
	background-color:blue;
}*/ /*css para los controles tipo texto*/
input {
	border: 1px solid #D8D8D8;
	font-size: 11px;
	height: 22px;
	margin-bottom: 5px;
	color: #545454;
	background-repeat: no-repeat;
	background-position: 1px 1px;
}

input :hover {
	border-color: #A9D0F5;
}

input :focus {
	border-color: #58ACFA;
}

.txtIcon {
	padding: 3px;
	padding-left: 20px;
	background-repeat: no-repeat;
}

.submit input {
	border: 2px outset #d7b9c9
}

button {
	background-color: #FAFAF2;
	border: 1px solid #E6E8D9;
	border-top: 1px solid #E6E8D9;
	border-left: 1px solid #E6E8D9;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 2px 7px 3px 4px;
	-moz-border-radius: 3px; /*Para que funcione en Mozilla*/
	-khtml-border-radius: 3px; /*Para que funcione en Konqueror y Safari */
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

button:active {
	background-color: #85B250;
	border: 1px solid #529214;
	color: #fff;
}

.helpIcon {
	background-image: url(icon/help.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px
}

.testIcon {
	background-image: url(icon/applications-system.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px
}

.noValidIcon {
	background-image: url(icon/eliminar.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px
}

.cargandoIcon {
	background-image: url(icon/loading.gif);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px
}

.okIcon {
	background-image: url(icon/apply.png);
	background-repeat: no-repeat;
	height: 16px;
	width: 16px
}

ul.linkLI li {
	font-size: 11;
	text-indent: -15;
	cursor: pointer;
	margin: auto;
	/*	margin-bottom:3;*/
}

ul.linkLI li:hover {
	font-weight: bolder;
}

.grupoGestionEmpleo {
	display: none;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 11px;
	color: #545454;
}

.linkGestionEmpleo {
	font-size: 11px;
	color: #545454;
	font-size: 12;
}

.linkGestionEmpleo li {
	padding: 4;
	border-top: 1 dashed #3399FF;
}

.linkGestionEmpleo li:hover {
	background-color: #FFFAE6;
}

.subMenu {
	display: none;
	width: 100%;
	padding: 0px;
}

ul.linkSubmenu {
	padding-left: 10px;
}

ul.linkSubmenu li {
	font-size: 11;
	cursor: pointer;
	list-style: none;
	/* margin-left:3;*/
	width: 165px;
	padding: 6px 0 8px 10px;
	color: #03699A;
	background-color: #F9F9F9;
	border: 1px solid #E6E6E6;
	font-weight: normal;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
}

ul.linkSubmenu li:hover {
	position: relative;
	text-decoration: underline;
	border: none;
	border-top: solid 1px #fff;
	background-color: #99ccff;
}