body{
	padding:0px;margin:0px;background-color:white;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size:11px;
	background-image:url(../images/fondoBanner.png);
	background-repeat:repeat-x;
}

#divFecha{
	font-family: 'MS Sans Serif', Geneva, sans-serif;	
	font-size:11px;
	color:#545454;
	background-color:#F9F9F9;
	border:1px solid #E6E6E6;border-top:0px;
	border-radius: 0px 0px 5px 5px;
	-khtml-border-radius:3px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	background-image:url(../images/16x16/apps/date.png);
	background-repeat:no-repeat;
	background-position	:6px 0px;
	height:18px;
	text-indent:26px
}
.panelBanner{
	background-color:#ADE3F5;
	height:20px;
	border:1px dashed #55C4EB;
	border-Top:0px;		
}
.bnr-logo{
	background-image:url(../images/cgg3.png);
	background-repeat:no-repeat;
	background-position:center;
	width:125px;
	height:120px;
}

.panelBody{
	background-color:#ADE3F5;	
	border:1px dashed #55C4EB;
	border-Top:0px;	
}

/*Accesos directos de la parte izquierda  */

.accesoDirecto div{	
	background-repeat:no-repeat;
	float:left;
	height:48px;
	width:58px;
}
.accesoDirecto td{	
	border-bottom:1px dashed gray;
	height:48px;
	cursor:pointer;
}
.accesoDirecto td:hover{	
	border-left:1px solid transparent;
	background-color:#F2F2F2;
}
.accesoDirecto td:active{	
	background-color:#DCDCDC;
}
.select{border-right:10px solid #9FC6D9}
.noSelect{border:1px solid transparent}

#divInicio{width:95%}
#divGestEmpleo{width:95%;}
#divComunRadial{width:95%}
#divResoluciones{width:95%}
#divUsuarios{width:95%}
.tituloAcceso{	
	position:relative;top:6px;	
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size:13px;
	color:#03699A;
	font-weight:bold;		
}
.tituloAcceso2{
	position:relative;top:6px;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size:13px;	
	font-weight:bold;
}
.descripcionAcceso{
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size:12px;
	color:#545454;
	position:relative;top:2px;left:5px;
}

/*Area de login*/
.login{
	padding:3px;
	margin:15px 0px 15px 0px;
	height:100px;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size:10px;
	color:#03699A;
	background-color:#F4F4F4;
	border:1px solid #E6E6E6;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius:4px;
}

.login button{
	float:right;
	margin-right:10px;
	font-size:10px;
}
.login span{
	color:blue;
	float:left;
	font-size:9px;
	cursor:pointer;
	position:relative;top:4px;left:0px;
}
.login span:hover{
	text-decoration: underline;
}
.login span:active{	
	color:#545454;
	text-decoration: underline;
}

.panelCopy{
	background-color:#ADE3F5;
	height:20px;
	border-top:2px solid #55C4EB;
}
.panelCopy span{
	font-size:12px;
	color:#404040;
}
/*
#button{
	padding:10px;
	background-color:blue;
}*/

/*css para los controles tipo texto*/
input {
	border: 1px solid #D8D8D8;
	font-size:11px;
	height:22px;
	margin-bottom:5px;
	color:#545454;	
	background-repeat:no-repeat;
	background-position:1px 1px;
}

input :hover{
	border-color:#A9D0F5;
}
input :focus{
	border-color:#58ACFA;
}
.txtIcon{
	padding:3px;
	padding-left: 20px;
	background-repeat:no-repeat;
}

/*css para los controles tipo text area*/
textarea {
	border: 1px solid #D8D8D8;
	font-size:11px;
}

textarea:hover{
	border-color:#A9D0F5;
}
textarea:focus{
	border-color:#58ACFA;
}
/*
.txtPass{
	padding:3px;
	padding-left: 18px;
	background-image:url(bsx../images/16x16/key.png);
	background-repeat:no-repeat;
	background-position:1px 1px;
	padding:3px;
	padding-left: 20px;
}*/





.submit input{	
	border: 2px outset #d7b9c9
} 

button {
	display:block;
	float:left;
	margin:0 7px 0 0;
	background-color:#FAFAF2;
	border:1px solid #E6E8D9;
	border-top:1px solid #E6E8D9;
	border-left:1px solid #E6E8D9;	
	font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:130%;
	text-decoration:none;
	font-weight:bold;
	color:#565656;
	cursor:pointer;
	padding:2px 7px 3px 4px; /* Links */
	
	/*Bordes redondeados en los botones*/
	-moz-border-radius:3px; /*Para que funcione en Mozilla*/
	-khtml-border-radius:3px; /*Para que funcione en Konqueror y Safari */
	-webkit-border-radius:3px;
	border-radius:3px;
}
button:hover { 
	background-color:#E6EFC2;
	border:1px solid #C6D880;
	color:#529214;
}

button:active { /*this is for NN, FF, MOZ/WIN only*/
	background-color:#85B250;
	border:1px solid #529214;
	color:#fff;
}

button:disabled { /*this is for NN, FF, MOZ/WIN only*/
	background-color: #D8D8D8;
	border:1px solid #404040;
	color:#fff;
}

.helpIcon{
    background-image:url(../images/16x16/apps/help.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px
}

.testIcon{
    background-image:url(../images/16x16/actions/aplicacion.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px
}

.noValidIcon{
    background-image:url(../images/16x16/actions/eliminar.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px
}

.cargandoIcon{
    background-image:url(../images/16x16/custom/loading.gif);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px
}

.okIcon{
    background-image:url(../images/16x16/actions/apply.png);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px
}

.style1{
	background-color:#D2E0F1; 	
	border:1px solid #99BBE8; 
}

.style2{
        font-size: 12px ;
        font-weight: bold;
}

.style3{
        font-size: 12px ;       
}

th{
    background-color: #F0F1F3;
    border-color: #565656;
    border-width: 0.5px 0.5px 0 0;
    border-style: solid;
    margin: 0;
}

.style4 td{    
    background-color: #ffffff;
    border-color: #D8D8D8;
    border-width: 0.5px 0.5px 0 0;
    border-style: solid;
    margin: 0;
    padding-top: 0px
}

input[type=checkbox]{
    margin: 1px 1px 1px 1px;
}

#dialog-container .dialogo {
    background-color:#D2E0F1
}

div.x-form-text-check{	
}
body {overflow: hidden;}
.x-notification .x-window-body{margin: 0;padding:1em ! important; width: auto ! important;}
.x-notification .x-tool-close{display: none}
.x-notification.fixed .x-tool-close{display: block}