body {
	padding: 0px;
	margin: 0px;
	background-color: white;
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 11px;
	color: #525252;
	overflow-x: hidden;
}

.tituloPrincipal {
	font-size: 20px;
}

.descripcionPrincipal {
	text-indent: 12px;
}

.linksPrincipal {
	margin: 15px 10px 10px;
	padding: 3px;
	border-bottom: 1px solid #EBEBEB;
}

.menu {
	height: 25px;
}

.link A:link {
	font-size: 14px;
	text-decoration: none;
	color: #0369AB;
}

.link A:visited {
	text-decoration: none;
	color: #0369AB;
}

.link A:active {
	text-decoration: none;
	color: #0369AB;
}

.link A:hover {
	text-decoration: none;
	color: green;
}

.tdTitulo {
	background-color: #0369AB;
	color: white;
	font-size: 15px;
	padding: 3px
}

.menu ul {
	float: right;
	list-style: none; /* Eliminamos los bullets */
	margin: 0px; /* Quitamos los margenes */
	padding-top: 5px; /* Quitamos el padding */
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 11px;
	color: #545454;
	background-color: #FFFFCC;
	border: 1px solid #E6E6E6;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	background-repeat: no-repeat;
	background-position: 6px 0px;
	height: 25px;
}

.menu ul li {
	float: left; /* Hacemos que el menu se muestre horizontal */
	padding-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #E6E6E6;
}

.menu ul li a {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 12px;
	color: #545454;
	text-decoration: none;
}

.menu ul li a:hover {
	color: blue;
	/*border-bottom:1px solid blue;*/
}

.menu ul li a:active {
	color: black;
}

.menuModulo {
	border: 1px solid #E6E6E6;
	border-top: 0px;
	border-radius: 0px 0px 5px 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	height: 18px;
}

/*Style combobox*/
input,select {
	border: 1px solid #CEC8CC;
	font-size: 11px;
	height: 23px;
	color: #545454;
	margin: 0;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding: 0;
}

textarea {
	border: 1px solid #D8D8D8;
	font-size: 11px;
	color: #545454;
	margin: 0px;
	background-repeat: no-repeat;
	background-position: 1px 1px;
	padding: 0px;
}

input:hover,select:hover,textarea:hover {
	border-color: #A9D0F5;
}

input :focus,select :focus,textarea :focus {
	border-color: #58ACFA;
}

button {
	background-color: #FAFAF2;
	border: 1px solid :   #CEC8CC;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 11px;
	margin: 0px;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	padding: 2px 7px 3px 4px;
	-moz-border-radius: 3px; /*Para que funcione en Mozilla*/
	-khtml-border-radius: 3px; /*Para que funcione en Konqueror y Safari */
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	background-color: #DFF4FF;
	border: 1px solid #E6E8D9;
	color: #336699;
}

button:active {
	background-color: #3297FC;
	border: 1px solid #529214;
	color: #fff;
}

/*Tabs de busqueda*/
.tabSelect {
	background-color: #F3DA8B;
	border: 1px solid #E2BD7E;
	border-bottom: 0px solid transparent;
	font-size: 12px;
	padding: 10px;
	margin: 10px;
	color: #B23F0D;
	font-weight: bolder;
	-moz-border-radius: 3px 3px 0px 0px; /*Para que funcione en Mozilla*/
	-khtml-border-radius: 3px 3px 0px 0px;
	/*Para que funcione en Konqueror y Safari */
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.tabNoSelect {
	cursor: pointer;
	color: #923F0D;
	padding: 10px;
	/*color original*/ /*background-color:#F4E7BD;*/
	color: white;
	background-color: #4D7493;
	border-bottom: 1px solid #E7C794;
	font-size: 12px;
	-moz-border-radius: 3px 3px 0px 0px; /*Para que funcione en Mozilla*/
	-khtml-border-radius: 3px 3px 0px 0px;
	/*Para que funcione en Konqueror y Safari */
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.tabNoSelect:hover {
	position: relative;
	font-weight: bolder;
}

.tabFooter {
	background-color: #F3DA8B;
	border-left: 1px solid #E2BD7E;
	border-right: 1px solid #E2BD7E;
}

#tblFiltro {
	background-color: white;
	height: 32px;
}

#tblFiltro label {
	font-size: 11px;
}

.bgtransparent {
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #fff;
	opacity: 0.80;
	filter: alpha(opacity = 80);
	display: none;
}

.bgmodal {
	position: fixed;
	display: none;
	left: 190px;
	top: 125px;
	overflow: auto;
	vertical-align: center;
	background-color: #fff;
}

.bsxWindows {
	
}

.bsxWindows thead {
	background-color: #E5E5E5;
	display: block;
	font-weight: bolder;
	font-size: 12px;
}

.bsxWindows tbody {
	font-size: 12px;
	display: block;
}

.bsxWindows tfoot {
	background-color: #F5F5F5;
	display: block;
	font-size: 12px;
}

.aplicado {
	background-image: url(icon/flag.png);
	background-repeat: no-repeat;
	height: 20px;
	background-position: 0px 4px;
	color: white;
}

.componetVisible {
	display: block;
}

.componetHide {
	display: none;
}

.submit input {
	border: 2px outset #d7b9c9
}

button {
	background-color: #FAFAF2;
	border: 1px solid #CEC8CC;
	border-top: 1px solid #CEC8CC;
	border-left: 1px solid #CEC8CC;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	text-decoration: none;
	/*font-weight:bold;*/
	color: #565656;
	cursor: pointer;
	padding: 2px 3px 3px 3px;
	-moz-border-radius: 3px; /*Para que funcione en Mozilla*/
	-khtml-border-radius: 3px; /*Para que funcione en Konqueror y Safari */
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	background-color: #E6EFC2;
	border: 1px solid #C6D880;
	color: #529214;
}

button:active {
	background-color: #85B250;
	border: 1px solid #529214;
	color: #fff;
}

.cssFormularioBorde {
	background-color: #E9E9E9;
	border: 1px solid #B9B9B9;
	padding: 5px;
}

.cssFormularioBorde table {
	padding: 5px;
	background-color: white;
	border: 1px solid #B9B9B9;
}

.cssFormularioBorde table th { /*font-size:12px;*/
	font-weight: normal;
	text-align: left;
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
}

.cssFormularioTitulo {
	font-family: Arial;
	color: black;
	font-size: 11px;
	font-weight: bold;
}

.cssForularioInterno th {
	font-family: Arial;
	font-size: 11px;
	font-style: italic;
}

.cssForularioInterno td {
	font-family: Arial;
	font-size: 11px;
}

.tblFiltro {
	display: none;
	margin-left: 2px;
}

.tblFiltroTitulo {
	padding: 5px;
	font-size: 18px;
	font-weight: bold;
	color: #FF8000;
}

.tblFiltro tbody td {
	border-bottom: 1px solid #FFD42A;
	padding: 5px 0px;
	font-size: 12;
	background-repeat: no-repeat;
	background-position: 0px 5px;
	text-indent: 9px;
	cursor: pointer;
	height: auto;
}

.tblFiltro tbody td:hover { /*font-weight:bolder;	*/
	color: black;
	height: auto;
}

.icon {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	cursor: pointer
}

.rowLink { /*background-image:url(icon/link.png);*/
	height: auto;
}

.rowLinkSelect {
	background-image: url(icon/linkSelect.png);
	height: auto;
}

.iconDelete {
	background-image: url(icon/remove.png);
}

.iconAdd {
	background-image: url(icon/add.png);
}

.iconActive {
	background-image: url(icon/checkon.gif);
}

.iconDesactive {
	background-image: url(icon/checkoff.gif);
}

.divAviso {
	background-color: #FFF9D7;
	border: 1px solid #F3CA4E;
	padding: 5px;
}

.divAvisoInfo {
	background-color: #EBF2CE;
	border: 1px solid #D3E19D;
	padding: 5px;
}

.divDetalleOferta { /*border:1 solid red;*/
	width: 450px;
	margin: auto auto;
}

table.detalleOferta {
	font-family: 'MS Sans Serif', Geneva, sans-serif;
	font-size: 12px;
}

table.detalleOferta th {
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	text-align: left;
	text-indent: 10px;
	vertical-align: top;
}

div.divBtnAplicar {
	background-color: #FF8000;
	color: white;
	padding: 5px 10px;
	border-radius: 3px -khtml-border-radius : 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	cursor: pointer;
}

div.divBtnAplicar:hover {
	background-color: #4D7493;
}

a span {
	display: none;
}

a:hover {
	position: relative;
}

a:hover span {
	display: block;
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100px;
}

table.cssCV {
	
}

table.cssCV th {
	border-bottom: 1px dashed #CCCCCC;
}

table.cssCV td {
	border-bottom: 1px dashed #CCCCCC;
}

div.uploadFile {
	position: relative;
	width: 28px;
	height: 22px;
	margin: 2px;
	overflow: hidden;
	background-image: url(icon/buscar.png);
	background-repeat: no-repeat;
	background-position: 5px 2px;
	background-color: #FAFAF2;
	border: 1px solid #E6E8D9;
}

div.uploadFile:hover {
	background-color: #DFF4FF;
	border: 1px solid #E6E8D9;
	color: #336699;
}

div.uploadFile input {
	position: absolute;
	left: auto;
	right: 0px;
	top: 0px;
	margin: 0px;
	padding: 0px;
	filter: Alpha(Opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
}

.fuenteTabla {
	font-size: 11px;
}

table.infoTabla {
	font-size: 11px;
}

table.infoTabla TH {
	text-align: left;
}

table.infoTabla TD {
	
}

.clsPregunta {
	font-size: 11px;
	font-weight: bold;
	color: #006699;
	vertical-align: top;
}

.clsRespuesta {
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
	vertical-align: top;
	font-style: italic;
	padding-left: 10px;
}

.obligatorio {
	color: #ff6666;
}